spring:
  application:
    name: jwt-auth
  datasource:
    url: jdbc:postgresql://localhost:5433/auth_db
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20

security:
  jwt:
    secret_key: 2f5f962492f31208ab2a88095011c744be51294da1b37049ae40281c9ed3d64b
    access_token_expiration: 36000000 # 10 hours
    refresh_token_expiration: 252000000 # 7 days